@use "./variable.scss" as *;

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.app-root,
.app-view {
  width: 100%;
  height: 100%;
}
.header {
  width: 100%;
  padding-bottom: 10px;
  .search-item {
    text {
      line-height: 40px;
    }
  }
}
.tools {
  padding-bottom: 10px;
}

.app-layout {
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow: hidden;

  .main-content {
    height: calc(100% - $header-h);
    background-color: $default-background;
    overflow: auto;
    box-sizing: border-box;
  }
}

.admin-layout,
.admin-content {
  height: 100%;
}
